@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --grey: rgb(240, 240, 240);
    --blue: #005A9C
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: robotoregular;
}

#whole-container {
    display: grid;
    grid-template-rows: 150px 1fr;
    height: 100vh;
}


/* Header Design */

#header {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
}

#title-block {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

/* Header title */
#title-block img {
    height: 55%;
    margin-left: 20px;
}
#title-block p {
    font-size: 40px;
    font-weight: 900;
}

/* Header count block */
#count-block {
    display: flex;
    align-items: center;
    gap: 25px;
}

#count-block p {
    color: var(--blue);
    font-size: 28px;
}


/* Header Table Design */

caption {
    font-size: 24px;
    margin-bottom: 5px;
}

table {
    border: 1px solid var(--blue);
    width: 200px;
    height: 90px;
    padding: 6px;
}

table, td {
    color: var(--blue);
}

td {
    padding: 0px 5px 0px 5px;
}

/* Main Part Design */

#main {
    background-color: var(--grey);
}

button {
    width: 150px;
    height: 60px;
    font-size: 22px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin:30px auto 0 auto;
}

button:active {
    transform: translateY(2px);
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}