@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --grey: rgb(240, 240, 240);
    --blue: #005A9C
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: robotoregular;
}

#whole-container {
    display: grid;
    grid-template-rows: 150px 1fr;
    height: 100vh;
}


/* Header Design */

#header {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
}

#title-block {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

/* Header title */
#title-block img {
    height: 55%;
    margin-left: 20px;
}
#title-block p {
    font-size: 40px;
    font-weight: 900;
}

/* Header count block */
#library-log-block {
    display: flex;
    align-items: center;
    gap: 25px;
}

#library-log-block p {
    color: var(--blue);
    font-size: 28px;
}


/* Header Table Design */

caption {
    font-size: 24px;
    margin-bottom: 5px;
}

table {
    border: 1px solid var(--blue);
    width: 200px;
    height: 90px;
    padding: 6px;
}

table, td {
    color: var(--blue);
}

td {
    padding: 0px 5px 0px 5px;
}

/* Main Part Design */

#main {
    background-color: var(--grey);
}

#add-book-btn {
    width: 150px;
    height: 45px;
    font-size: 22px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin:30px auto 0 auto;
}

button:active {
    transform: translateY(2px);
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
}

/* Dialog Design */
dialog {
        /* Make the Dialog show in the center of viewport */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* other style design */
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

input::placeholder {
    color: grey;
}

/* Dialog Background Design */
dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
}




    /* make the form grid */
form {
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-items: start;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

form > input {
    width: 100px;
}

form > h3 {
    grid-column: 1 / -1;
    justify-self: center;
}

#read-check-box {
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

#submit-btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: 80px;
    height: 30px;
    font-size: 18px;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
    padding: 24px 24px 12px 24px;
}

/* toggle exist-alert*/
#exist-alert {
    display: none;
    color: red;
    font-size: 14px;
    grid-column: 1 / -1;
    padding: 0;
}

/* define the styles of the cards */
.card {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  
    text-align: center;
}

.card h2 {
    font-weight: 100;
}

.card > * {
    margin-top: 5px;
}

.card button {
    width: 80px;
    height: 30px;
    font-size: 18px;
}
